.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 414px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: #303030;
}
.AllPosts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    margin-top: 20px;
}