.loginPage{
    position: absolute;
    background-size: cover;
    width: 414px;
    height: 855px;
    left: 0px;
    top: 0px;

    background-image: url("../images/tattoo-1.png");
}
.formBox{
    position: absolute;
    width: 288px;
    height: 500px;
    left: 60px;
    top: 160px;
    background: rgba(0, 0, 0, 0.8);
    mix-blend-mode: hard-light;
    opacity: 0.9;
    box-shadow: 2px 2px 10px 2px #A19786;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
}
.labelEmail{
    position: absolute;
    width: 62px;
    height: 40px;
    left: 105px;
    top: 60px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    color: #FFFFFF;

}
.inputEmail{
    position: absolute;
    width: 214px;
    height: 30px;
    left: 30px;
    top: 100px;
    background: rgb(255, 255, 255);
    mix-blend-mode: screen;

    border-radius: 10px;
}
.labelPassword{
    position: absolute;
    width: 119px;
    height: 36px;
    left: 80px;
    top: 130px;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;

    color: #FFFFFF;

    mix-blend-mode: screen;

}
.inputPassword{
    position: absolute;
    width: 214px;
    height: 30px;
    left: 30px;
    top: 170px;
    background: rgb(255, 255, 255);
    mix-blend-mode: screen;
    

    border-radius: 10px;
}
.loginButton{
    position: absolute;
    width: 83px;
    height: 33px;
    left: 100px;
    top: 220px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    background: rgba(255, 255, 255, 0.83);
    border-radius: 9px;
}
.DontHaveAnAccout{
    position: absolute;
    width: 200px;
    height: 18px;
    left: 105px;
    top: 600px;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: #FFC5C5;
}