.ArtistCardImg{
    height: 80px;
    width: 80px;
    
}
.AllArtist{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
    margin: 6px;
    width: 400px;
}
.imageDiv{
    min-width: 80px;
    background-color: #303030;
}
.nameDiv{
    min-width: 100px;
}
.address{
    width: 100px;
    
}
@media screen and (min-width: 1000px) and (max-width: 1300px){
    .AllArtist{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 2px solid black;
        margin: 6px;
        width: 350px;
    }
    .address{
        width: 90px;
    }
    
  }